@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;1,400;1,500&family=Lato&family=Montserrat:wght@500&family=Poppins&family=Sen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animtime: 0.25s;
}

html {
  scroll-behavior: smooth;
}

.logo-title {
  @apply mt-0.5;
}

.chat-header {
  -webkit-backface-visibility: hidden;
}

.side-menu.expanded {
  -webkit-transition: width var(--animtime) ease-in-out;
  -moz-transition: width var(--animtime) ease-in-out;
  -o-transition: width var(--animtime) ease-in-out;
  transition: width var(--animtime) ease-in-out;

  width: 8rem;
}

.side-menu.contracted {
  -webkit-transition: width var(--animtime) ease-in-out;
  -moz-transition: width var(--animtime) ease-in-out;
  -o-transition: width var(--animtime) ease-in-out;
  transition: width var(--animtime) ease-in-out;

  width: 3.5rem;
}

.menu-icon {
  min-width: 32px;
  height: 1.3em;
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.1rem * var(--tw-space-y-reverse));
}

/** Font related **/
body {
  font-family: 'Poppins', sans-serif;
}

/** Markdown related **/

.markdown-body li p,
.markdown-body p {
  white-space: pre-wrap;
}

.markdown-body img {
  max-width: 1280px;
  width: 58%; /* Reduced the image size which render in the chat response */
  margin: auto;
  display: block;
}

.markdown-body ul {
  list-style-type: '- ';
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #cfcdcd;
  border-radius: 4px;
}

/* Related to the dialog */
#clear-dialog {
  padding: 1rem;
  border-radius: 0.5rem;
}
